<div class="container-fluid" style="background-color: #0f183b;height: 80px;width: 100%;">
<div class="container" >
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" style="color: white;margin-top: 5px;" href="#"><h2>VOICEFONICA</h2></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse " id="navbarNavAltMarkup">
          <div class="navbar-nav" style="padding-left: 500px;" >
            <a class="nav-item nav-link active" style="color: white;margin-top: 10px;" href="#">SERVICES <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" style="color: white;margin-top: 10px;" href="#">ABOUT US</a>
            <a class="nav-item nav-link" style="color: white;margin-top: 10px;" href="/login">LOGIN</a>
            <a class="nav-item nav-link" style="color: white;margin-top: 10px;" href="/register">REGISTER</a>
             </div>
        </div>
      </nav>
</div>
</div>
<div class="row">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="view">
              <img class="d-block w-100" src="assets\Images\slider1.jpg" style="width: 100%;" alt="First slide">
              <div class="mask rgba-black-light"></div>
            </div>
            <div class="carousel-caption">
              <h3 class="h3-responsive">Connecting the World</h3>
            </div>
          </div>
          <div class="carousel-item">
            <!--Mask color-->
            <div class="view" style="width: 100%;">
              <img class="d-block w-100" src="assets\Images\slider2.png" style="width: 100%;" alt="Second slide">
              <div class="mask rgba-black-strong"></div>
            </div>
            <div class="carousel-caption" style="width: 400px;">
              <h3 class="h3-responsive">High Speed Data Provider</h3>
            </div>
          </div>
          <div class="carousel-item">
            <!--Mask color-->
            <div class="view">
              <img class="d-block w-100" src="assets\Images\slider3.jpg" style="width: 100%;" alt="Third slide">
              <div class="mask rgba-black-slight"></div>
            </div>
            <div class="carousel-caption">
              <h3 class="h3-responsive">End ot End Security</h3>
            </div>
          </div>
        </div>
  
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <svg style="background-color:black;" width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-arrow-left-short"
            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M7.854 4.646a.5.5 0 0 1 0 .708L5.207 8l2.647 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0z" />
            <path fill-rule="evenodd" d="M4.5 8a.5.5 0 0 1 .5-.5h6.5a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z" />
          </svg>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <svg style="background-color: black;" width="3em" height="3em" viewBox="0 0 16 16"
            class="bi bi-arrow-right-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M8.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.793 8 8.146 5.354a.5.5 0 0 1 0-.708z" />
            <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5H11a.5.5 0 0 1 0 1H4.5A.5.5 0 0 1 4 8z" />
          </svg>
        </a>
  
      </div>
  
</div>
<div class="container-fluid" style="height: 700px; background-color: #4a927e;">
    <div class="container">
      <div style="width: 50%;float: left;">
        <h4 style="color: white;padding-top: 100px;">"VoizFonica is a Mobile Network Operator and telephone company. VoizFonica provides network access and telecommunication services that help people and companies communicate in an easy, efficient and environmentally friendly way"
        </h4>
    </div>
    
  </div>
    
</div>