<div class="container" id="queries">
    <div class="table table-trapped">
        <thead>
            <tr>
                <th>Issue</th>
                <th>Response</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of userData">
                <td>{{data.issue}}</td>
                <td>{{data.response}}</td>
                <td><button class="btn btn-primary" (click)="getInfo(data)">Info</button></td>
                
            </tr>
        </tbody>
    </div>
</div>
