<h2 align="center">Chat With Customer Support Person</h2>

<div style="margin-left:12.5%;">
<div *ngFor="let item of chats | async">
<div *ngIf="item.admin_id!=0" class="container">
  <img src="/assets/Images/adminside.png" alt="Avatar" style="width:100%;">
  <p >{{item.message}}</p>
  <span class="time-right">11:00</span>
</div>

<div *ngIf="item.admin_id==0" class="container darker">
  <img src="/assets/Images/customerside.jpg" alt="Avatar" class="right" style="width:100%;">
  <p>{{item.message}}</p>
  <span class="time-left">11:01</span>
</div>
</div>
<input type="text" id="text" [(ngModel)]="chat.message"  #msg="ngModel"><button (click)="call()" type="reset">Send</button>
</div>