<div  class="container-fluid" style="background-color: #0f183b;height: 80px;width: 100%;">
    <div class="container" >
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" style="color: white;margin-top: 5px;" href="#"><h2>VOIZFONICA</h2></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse " id="navbarNavAltMarkup">
              <div class="navbar-nav" style="padding-left: 300px;" >
                <a class="nav-item nav-link active" style="color: white;margin-top: 10px;" [routerLink]="['/loginsuccess']">HOME<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" style="color: white;margin-top: 10px;" [routerLink]="['/loginsuccess']">MYPLANS</a>
                <a class="nav-item nav-link" style="color: white;margin-top: 10px;" [routerLink]="['/recharge']">RECHARGE</a>
                <a class="nav-item nav-link" style="color: white;margin-top: 10px;" [routerLink]="['/chat']">HAVE A QUERY?</a>
                <a class="nav-item nav-link" style="color: white;margin-top: 10px;" [routerLink]="['/update']">PROFILE</a>
                <a class="nav-item nav-link" style="color: white;margin-top: 10px;" [routerLink]="['/logout']">LOGOUT</a>
                 </div>
            </div>
          </nav>
    </div>
    </div>